img[src="assets/solwit_logo.png"] {
    max-width: 500px;
    width: 100%;
    margin: 10% auto;
    display: block;
}

h3#hadhodgitbooksiots-ng-path-typescriptcontent,
h1#ścieżka-tsng-typescript {
    text-align: center;
}
