img[src="assets/solwit_logo.png"] {
    max-width: 500px;
    width: 100%;
    margin: 10% auto;
    display: block;
}

h3#httpshadhodgitbooksiots-ng-path-angularcontent,
h1#ścieżka-tsng-angular4 {
    text-align: center;
}
